*{
    margin: 0;
    padding: 0;
}
#skyShop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: auto;
    height: 300px;
    background: url("https://www.jcrew.com/brand_creative/2022/202214-Dec2/skishop/v2/2022dec2_1213_ski_img0.jpg");
    background-size: cover;
}
#content{
    width: 50%;
    height: auto;
    text-align: center;
}
#content p:nth-child(1){
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
}
#content p:nth-child(2),
#content p:nth-child(3){
    color: white;
    font-size: 18px;
    font-weight: 200;
}

#content #category{
    
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;
}
#content #category div{

    width: 10%;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: white;
}
#content #category div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}



#sortData{
    width: 90%;
    margin: 20px auto 10px;
}
#sortData #sort_by_price{
    height: 40px;
    width: 220px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}



#container{
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 15px;
}
#container .cards{
    padding: 10px;
}
#container .cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container .cards img{
    width: 100%;
    height: 300px;
}
#container .cards p{
    line-height: 2;
}
#container .cards p:nth-child(3){
    color: red;
}
.cards button{
    cursor: pointer;
    padding: 5px 10px;
    background-color: grey;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
.cards button:hover{
    background-color: black;
}